<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h1>Hello, HTML.</h1>
     <form action="/v2/scrap" method="post">
      <label>Website :</label>
      <input type="text" name="url" placeholder="https://www.dent.cz/zubni-lekari" value="https://www.dent.cz/zubni-lekari"><br>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>